/*Principais
-------------------------------------------------------------- */
 	body{-webkit-font-smoothing:auto; color: #000; font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 150%; font-weight: 300 }
	h1{font-family: 'Roboto', sans-serif; font-size: 34px; color: #000; }
	h2{font-family: 'Roboto', sans-serif; font-size: 26px; color: #000; }
	h3{font-family: 'Roboto', sans-serif; font-size: 22px; color: #000; }
	h4{font-family: 'Roboto', sans-serif; font-size: 20px; color: #000; }
	h5{font-family: 'Roboto', sans-serif; font-size: 18px; color: #000; }
	h6{font-family: 'Roboto', sans-serif; font-size: 14px; color: #000; }
	p{color: #000; font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 150%; font-weight: 300}
	a{color: #000; font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 150%; font-weight: 300; text-decoration: none;}
	a:hover{color:#000 ;text-decoration: none}
	* a:hover, a:hover{color:#000;text-decoration: none}
	a:visited{text-decoration: none}
	a:focus, *:focus{box-shadow: none!important; outline: none!important; text-decoration: none}
	img{max-width: 100%; height: auto}

/* Home
/---------------------------------------------------------------------------- */
#secHospital {
	background-image: url(../img/homeBg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#secHospital .buttonGroup{
	align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}
#secHospital .buttonGroup h1{
	margin-bottom: 50px;
}
