/*Principais
-------------------------------------------------------------- */
 	body{-webkit-font-smoothing:auto; color: #000; font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 150%; font-weight: 300 }
	h1{font-family: 'Roboto', sans-serif; font-size: 34px; color: #000; }
	h2{font-family: 'Roboto', sans-serif; font-size: 26px; color: #000; }
	h3{font-family: 'Roboto', sans-serif; font-size: 22px; color: #000; }
	h4{font-family: 'Roboto', sans-serif; font-size: 20px; color: #000; }
	h5{font-family: 'Roboto', sans-serif; font-size: 18px; color: #000; }
	h6{font-family: 'Roboto', sans-serif; font-size: 14px; color: #000; }
	p{color: #000; font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 150%; font-weight: 300}
	a{color: #000; font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 150%; font-weight: 300; text-decoration: none;}
	a:hover{color:#000 ;text-decoration: none}
	* a:hover, a:hover{color:#000;text-decoration: none}
	a:visited{text-decoration: none}
	a:focus, *:focus{box-shadow: none!important; outline: none!important; text-decoration: none}
	img{max-width: 100%; height: auto}

/* Home
/---------------------------------------------------------------------------- */
#secHome {
	background-image: url(../img/homeBg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#secHome .homeBox {
	border: 4px solid white;
	border-radius: 20px 0px 20px 0px;
	padding-top: 15px;
    padding-bottom: 15px;
}
#secHome img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    margin-left: auto;
    display: block;
    margin-right: auto;
}
#secHome .buttonGroup{
	align-items: center;
    display: flex;
    height: 100vh;
	text-align: center;
}
#secHome .buttonGroup h1{
	margin-bottom: 50px;
	color: white;
}
#secHome .buttonGroup a {
	background-color: white;
	border: 2px solid white;
	color: #E83136;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
}
#secHome .buttonGroup a:hover {
	background-color: #E83136;
	border: 2px solid white;
	color: white;
}
/* Registro paciente hospital
/---------------------------------------------------------------------------- */
#secRegister {
	background-image: url(../img/registerBg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
#secRegister .registerBox {
	border: 4px solid #E83136;
	border-radius: 20px 0px 20px 0px;
	padding-top: 15px;
    padding-bottom: 15px;
}
#secRegister .registerBox h4 {
	color: #E83136;
	font-weight: 600;
}
#secRegister img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    margin-left: auto;
    display: block;
    margin-right: auto;
}
#secRegister label {
	color: #E83136;
	font-weight: 600;
	text-align: left !important;
}
#secRegister input{
	color: #E83136;
	font-weight: 600;
}
#secRegister input::placeholder{
	color: #E83136;
	font-weight: 600;
}
#secRegister select{
	color: #E83136;
	font-weight: 600;
}
#secRegister .buttonGroup{
	align-items: center;
    display: flex;
    height: 100vh;
}
#secRegister .anchors {
	text-align: center;
}
#secRegister .buttonGroup h1{
	margin-bottom: 50px;
}
#secRegister .buttonGroup a, #secRegister .buttonGroup button {
	background-color: #E83136;
	border: 2px solid white;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
}
#secRegister .buttonGroup a:hover, #secRegister .buttonGroup button:hover{
	background-color: white;
	border: 2px solid #E83136;
	color: #E83136;
}
/* Listas
/---------------------------------------------------------------------------- */
#secList {
	background-color: #E83136;
	min-height: 100vh;
}
#secList .cardImg {
	background-color: white;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 0px 20px 0px;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-top: 25px;
    padding-bottom: 25px;
}
#secList img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    margin-left: auto;
    display: block;
	margin-right: auto;
}
#secList h3{
	text-align: center;
    color: #E83136;
    font-weight: 600;
    margin-top: 25px;
}
#secList .card{
	background-color: white;
	border-radius: 0px 20px 0px 20px;
	padding: 15px;
	margin-bottom: 20px;
}
#secList .card p{
	color: #E83136;
	font-size: 16px;
	font-weight: 500;
}
#secList .anchors {
	text-align: center;
    margin-top: 60px;
    padding-bottom: 60px;
}
#secList .anchors a, #secRegister .anchors button {
	background-color: #E83136;
	border: 2px solid white;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
}
#secList .anchors a:hover, #secRegister .anchors button:hover{
	background-color: white;
	border: 2px solid #E83136;
	color: #E83136;
}